div.sticky[data-sticky=true]{
	height: auto;
	min-height: 100px;
	width: 200px;
	background: #fffed0 !important;
	font-family: Verdana;
	cursor: move;
	overflow: auto;
	color: #666;
	box-shadow: #ebebeb 0px 5px 5px;
}
div.sticky[data-sticky=true] > div.close {
	border: 2px solid #ababab;
	cursor: pointer;
	padding: 0 10px 0 0;
	position: absolute;
	right: 4px;
	top: 10px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	width: 0;
	z-index: 1;
}
div.sticky[data-sticky=true] > div.close:before{
	border: 2px solid #ababab;
	content: "";
	height: 0;
	position: absolute;
	right: -2px;
	top: -2px;
	z-index: 1;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	width:100%;
}
div.sticky[data-sticky=true] > div.close:hover, div.sticky[data-sticky=true] > div.close:hover:before {
	border-color: #444;
}
div.sticky[data-sticky=true] > div.save {
	border: 2px solid #ababab;
	cursor: pointer;
	padding: 0 8px 0 0;
	position: absolute;
	right: 38px;
	top: 8px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	width: 0;
	z-index: 1;
}
div.sticky[data-sticky=true] > div.save:before {
	cursor: pointer;
	position: absolute;
	right: -7px;
	top: -4px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	z-index: 1;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 8px solid #ababab;
	border-top: none;
}
div.sticky[data-sticky=true] > div.save:hover {
	border-color: #444;
}
div.sticky[data-sticky=true] > div.save:hover:before {
	border-bottom: 8px solid #444;
}
div.sticky[data-sticky=true] > div.sticky-content > ul.sticky-notes {
	font-family: cursive;
	cursor: move;
	margin: 0 0 0 0;
	padding: 0 0 0 40px;
}
div.sticky[data-sticky=true] > div.sticky-content > ul.sticky-notes > li.sticky-note {
	cursor: text;
	list-style: square;
	text-align: left;
}
div.sticky[data-sticky=true] > div.sticky-content > ul.sticky-notes > li.sticky-note:focus {
	outline: none;
	border: none;
}
div.sticky[data-sticky=true] > a.email {
	position: absolute;
	padding: 0 4px 0 0;
	z-index:1;
	top: 0;
	color: #ababab;
	right: 16px;
	text-decoration: none;
	cursor:pointer;	
}
div.sticky[data-sticky=true] > a.email:hover {
	color: #444;
}
div.sticky[data-sticky=true] > div.sticky-content{
	padding: 0 0 0 0;
	height: auto;
	width: 100%;
	margin: 16px 0px 16px 0px;
	top: 0;
	position: absolute;
}